.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #3C3F41;
    align-items: center;
    justify-content: center;

    .dropzone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        height: 150px;
        border: 4px dashed #989898;
    }
}