.image-view {
    max-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #2B2B2B;
    border: 1px solid #565656;

    &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: scroll;
        width: 100%;
        height: 100%;

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #e0e0e0;
            border-radius: 9em;
            box-shadow: inset 1px 1px 10px #989898;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #505050;
        }
    }
}

