.menu {
    flex: 0 0 40vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

    &>div {
        flex: 0 0 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .offset {
        display: flex;
        gap: 10px;
    }
}