@import "components/app";
@import "components/image-view";
@import "components/menu";
@import "components/button";
@import "components/input";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #B9B7B4;
}